################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_30.5.20.26.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_30.5.19.8.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_30.5.19.3.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_30.5.13.49.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_29.5.23.20.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_29.5.17.57.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/backup/sam_database_12.6.21.53.sqlite
/PMES_SAM/bin/Debug/netcoreapp3.1/Exports/sam_relatorio_exportado_teste.xlsx
/PMES_SAM/bin/Release/netcoreapp3.1
/PMES_SAM/bin/Debug/netcoreapp3.1
